<h1>Edit <%= "#{@variety.name}" %> </h1>

<p>or go <%= link_to "back", varieties_path %>

<%= render 'form' %>

<%= form_for @variety, method: :delete do |f| %>
<%= f.submit "Delete #{@variety.name}", class: "delete" %>
<% end %>
