<h1 class="fetch"> FETCH </h1>


<ul>
  <% @animals.each do |animal| %>
    <li class="snippet">
    <img src="<%= animal.photo_url %>">

    <%= link_to "#{animal.name}", animal_path(animal) %>
    <%= animal.gender %>, <%= animal.age %>

    </li>
  <% end %>
</ul>


<%= link_to "Add an animal", new_animal_path %>

<!--
<ul>
  <% @animals.each do |animal| %>
    <li>
      <%= link_to animal.name, animal %>
    </li>
  <% end %>
</ul> -->
