<img class='animalphoto' src="<%= @animal.photo_url %>"><p>

<div class="profile">

  <h2 class="animalname"> <%= @animal.name %>
    <span class="details">(<%= @animal.gender %>, <%= @animal.age %>)
    </span>
  </h2>

  <h3>
    <%= @animal.bio %>
  </h3>

  <p class="navlinks">
    <%# Nice! The downside is this won't actually prevent someone from finding the edit page on their own: if they add "/edit" onto the end of the URL they can edit the animal. You'd need this authentication in your controller to prevent that from happening. %>
    <% if @animal.user_id == current_user.id %>
    <%= link_to "Edit, if you're #{@animal.name}!", edit_animal_path %>
    <% end %>
  </p>
  <p>
    <%= link_to "back to Fetch home", animals_path %>
  </p>

</div>
