<!DOCTYPE html>
<html>
<head>
  <title>Fetch</title>
  <link href='http://fonts.googleapis.com/css?family=Paprika' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<h1 class="fetch"> FETCH <span class="tagline"> where the pets come out to play.</span></h1>

<nav>
  <% if current_user %>
    <h3><%= link_to 'LEAVE THE FETCH YARD', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to 'COME PLAY', new_user_session_path %> &#x1f43e;
    <%= link_to 'JOIN FETCH', new_user_registration_path %>
  </h3>
  <% end %>
</nav>


  <%= yield %>


</body>
</html>
